@import url(reset.css);
@import url(common.css);
@import url(aos.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header start ----------------------------------------- */


header{
    width: 100%;
    padding: 20px 40px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%);
    z-index: 99;
}

.logo img{
    width: 115px;
    margin-bottom: 20px!important;
    margin: 0 auto;
}

.menu_wrap{
    margin: 0 auto;
    width: 33.333%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    line-height: 24px;
}

.header_btn_wrap{
    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 65px;
    right: 25px;
}

.header_btn_wrap img{
    width: 30px;
    height: 30px;
}


/* header -----------------------------------------end */
/* header 반응형 start----------------------------------- */

@media screen and (max-width: 450px){

    header{
        height: 60px;
    } 
    
    .menu_wrap{
        display: none;
    }

    .logo a img{
        width: 70px;
        margin: 0;    
    }

    .header_btn_wrap{
        top: 13px;
    }

    .header_btn_wrap img:nth-child(1){
        display: none;
    }

    .header_btn_wrap img{
        width: 18px;
        height: 18px;
        margin-left: 40px;
    }
}

@media screen and (max-width: 1200px){

  
    .logo img{
        margin: 0;
    }
    .menu_wrap{
        display: none;
    }

    .header_btn_wrap{
        top: 13px;
    }

   

    
}

/* header 반응형 end----------------------------------- */

/* section_1 start-------------------------------------*/

.section_1{
    /* position: relative; */
    background-image: url(../img/1_main.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1425px;
    padding: 450px 23%;
}

.title_wrap_1{
    max-width: 510px;
    width: 100%;
    text-align: left;
    color: #172436;
    letter-spacing: -1px;
    transition-duration: 0.5s;
}

.title_wrap_1 h2{
    font-size: 70px;   
}

.title_1_cushion{
    font-size: 50px;
    margin-bottom: 60px;
    margin-top: 18px;
}

.title_1_kill{
    color: #C40009;
    letter-spacing: 5px;
    margin-bottom: 20px;
    letter-spacing: -2px;
}

.title_1_new{
    font-weight: 800;
    font-size: 90px;
   letter-spacing: 1px;
}

.title_wrap_1 p{
    opacity: 0.58;
    letter-spacing: 1px;
    line-height: 26px;
}
/* section_1 -----------------------------------------end */
/* section_1 반응형 ----------------------------------- */
@media screen and (max-width: 450px){

    .wrap .section_1{
        background-image: url(../img/mo_main.jpg);
        height: 100vh;
        background-position: 0 -290px;
        padding: 0;
    }
    .title_wrap_1{
        text-align: center;
        padding-top: 150px;
    }

    .title_wrap_1 h2{
        font-size: 40px;
    }

    .title_1_kill{
        margin-bottom: 0;
    }

    .title_1_new{
        font-size: 50px;
        letter-spacing: -4px;
    }

    .title_1_cushion{
        font-size: 21px;
        margin-bottom: 18px;
        margin-top: 18px;
    }

    .title_wrap_1 p{
        font-size: 15px;
        text-align: center;
        letter-spacing: 0;
    }
}

@media screen and (max-width: 1200px){

    
}
/* section_1 반응형end ----------------------------------- */

/* section_2 srart --------------------------------------*/


.con_wrap_2{
    display: flex;
    justify-content: space-between;
}

.con_wrap_2_down a{
    width: 100%;
}

.title_wrap_2{
    margin: 10px 60px;
    max-width: 700px;
    width: 100%;
}

.con_wrap_2 a{
   overflow: hidden;  
}

.title_wrap_2 h3{
    font-size: 30px;
    color: #C40009;
    font-weight: 600;
    margin-bottom: 30px;
}

.title_wrap_2 h2{
    font-size: 70px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -3px;
    margin-bottom: 60px;
    line-height: 82px;
}

.title_wrap_2 p, .title_wrap_4 h3{
    margin-bottom: 80px;
    color: #747474;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -2px;
    font-weight: 200;
}

.title_wrap_2_down{
    margin: 0px 60px;
}

.title_wrap_2_down{
    padding-top: 330px;
}

.con_wrap_2_down{
    text-align: right;
}

.con_wrap_2_down .more_btn{
    margin-left: 530px;
}

/* section_2 end -----------------------------------------*/
/* section_2 반응형 ----------------------------------- */
@media screen and (max-width: 450px){

    .con_wrap_2, .mo_br,.mobile_padding, .mobile_member, .more_btn_mo{
        display: block;
    }

    .pc_br, .more_btn, .pc_padding, .pc_member{
        display: none;
    }

    .title_wrap_2{
        margin: 0;
    }

    .title_wrap_2_down{
        margin-bottom: 20px;
        padding-top: 0;
    }
    
    .title_wrap_2 h3{
        font-size: 16px;
        font-weight: 700;
    }

    .title_wrap_2_up h3{
        margin-top: 0;
    }

    .title_wrap_2:nth-child(1){
        margin-top: 140px;
    }

    .title_wrap_2 h2{
        font-size: 30px;
        letter-spacing: -1px;
        line-height: 40px;
        margin-bottom: 20px;
        font-weight: 600;
    }

    .title_wrap_2 p, .title_wrap_4 h3{
        margin-bottom: 60px;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: -2px;
        font-weight: 200;
        text-align: left;
        line-height: 20px;
    }

    .title_wrap_2 p{
        margin: 20px 0 20px;
    }

    
    .more_btn_mo{
        width: 100px;
        font-size: 12px;
        height: 30px;
        line-height: 30px;
        margin-left: 0;
    }

    .plus {
        font-size: 20px;
        line-height: 30px;
    }

    .con_wrap_2_down .more_btn{
        margin-left: 0;
    }

    .con_wrap_2_down{
        margin-top: 60px;
        text-align: left;
    }
}
/* section_2 반응형 end ----------------------------------- */
/* section_3 start----------------------------------------*/

.section_3{
    padding: 0 14% 100px;
}
.img_wrap_3 img{
    width: 260px;
}

.img_wrap_3{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;    
    margin-top: 90px;

}

.product_2{
    display: flex;
    width: 130px;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 16px;

}

.underline_wrap{
    display: flex;
    width: 129px;
    justify-content: space-between;
}

.underline{
    width: 35px;
    height: 1.5px;
    background-color: #5c5b59;
    opacity: 0.7;
    margin-top: 8px;
}

.tab:hover{
    color: #F58220;
    transition-duration: 0.3s;
}

.tab:hover .underline{
    background-color: #f58320;
    transition-duration: 0.3s;
}

.img_title_wrap{
    display: flex;
    justify-content: space-between;
    text-align: center;
    letter-spacing: -1px;
}
.img_title_wrap h2{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
    font-weight: 500;
}

.img_title_wrap h3{
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: -2px;
}

.img_title_wrap p{
    margin-bottom: 20px;
    font-weight: 500;
}

.con_wrap_3 .more_btn{
    margin: 0 auto;
}

.orijin_price{
    font-size: 18px;
    text-decoration: line-through;
    opacity: 0.3;
    margin-right: 5px;
}

.limited{
    font-size: 14px;
    color: #CF3239;
    width: 72px;
    height: 22px;
    border: 1px solid #CF3239;
    margin: 0 auto;
    font-weight: 400;
    line-height: 18px;
}

.img_wrap_3 :hover{
    transform: translate(-2px);
    transition-duration: 0.4s;
}

.img_title_wrap :hover{
    transform: translate(-2px);
    transition-duration: 0.4s;
}

/* section_3 -----------------------------------------end*/
/* section_3 반응형 start -----------------------------*/
@media screen and (max-width: 450px){

    .section_3{
        padding: 0 14%;
    }

    .con_wrap_3{
        position: relative;
    }
    .img_title_wrap, .img_wrap_3{
        width: 700px;
        margin-bottom: 10px;
    }
    .img_title_wrap{
        justify-content: unset;
        margin-top: 30px;
    }
    .img_wrap_3 img{
       width: 130px;
       margin-right: 60px; 
       align-items: center;
    }

    .img_title>a h3{
        display: none;
    }

    .img_title_wrap h2{
        font-size: 15px;
        line-height: 22px;
    }

    

    .product_2{
        justify-content: unset;
    }

    .product_2 .new{
        margin-right: 10px;
    }

    .mobile_product_wrap{
        display: block;
    }


    .pc_product_wrap{
        display: none;
    }

    .swiper{
        padding-left: 6%;

    }

    .swiper-slide{
        display: flex;
        justify-content: space-between;
        /* margin-right: 20px; */
    }

    .slide_1, .slide_2, .slide_3, .slide_4{
        width: 180px;
    }

    .limited{
        font-size: 12px;
    }
    .orijin_price{
        font-size: 14px;
    }

    
  

}
/* section_3 반응형 end -----------------------------*/
/* section_4 start---------------------------------------*/

.section_4{
    padding-top: 100px;
}
.title_wrap_4{
    text-align: center;
}

.con_4{
    display: flex;
    background-color: #002357;
}
.con_4 img{
    width: 50%;
}

.con_4_title_wrap{
    margin: 230px 230px 230px 230px ;
}

.con_4 h2{
    font-size: 50px;
    color: #CAD1DF;
    margin-bottom: 30px;
    font-weight: 600;
}

.con_4 h3{
    font-size: 20px;
    color: #fff;
    margin-bottom: 60px;
    font-weight: 200;
    line-height: 32px;
}

.con_4 p{
    font-size: 16px;
    color: #fff;
    margin-bottom: 70px;
    font-weight: 200;
    opacity: 0.5;
}

.make_more_btn{
    font-size: 23px;
    color: #F58220;
    font-weight: 500;
}

.con_4:nth-child(2){
    justify-content: end;
    text-align: right;
    background-color: #433E3B;
}

.con_4:nth-child(2) h2{
    color: #CEC1B9;
}

.con_4:nth-child(3){
    background-color: #56425A;
}

.con_4:nth-child(3) h2{
    color: #BBB6BD;
}

.make_more_btn:hover{
    transform: translateX(10px);
   transition-duration: 0.3s;
}
/* section_4 -----------------------------------------end */
/* section_4 반응형 ----------------------------------- */
@media screen and (max-width: 450px){

    .section_4{
        padding-top: 80px;
    }

    .con_4_mo_1{
        background-image: url(../img/4_makeup_1_mo.jpg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .con_4_mo_2{
        background-image: url(../img/4_maleup_mo_2.jpg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .con_4_mo_3{
        background-image: url(../img/4_makeup_3_mo.jpg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .title_wrap_4 h2{
        margin-bottom: 10px;
    }

    .title_wrap_4 h3{
        margin: 0 0 30px 108px;
    }

    .con_4 img{
        display: none;
    }

    .con_4_title_wrap{
        margin: 450px 40px 60px 40px;
    }

    .con_4 h2{
        font-size: 28px;
    }

    .con_4 h3{
        font-size: 16px;
        margin-bottom: 30px;
        opacity: 0.8;
    }

    .con_4 p{
        font-size: 14px;
        margin-bottom: 30px;
    }

    .make_more_btn{
        font-size: 18px;
        font-weight: 300;
    }

    .con_4:nth-child(2){
        justify-content: end;
        text-align: left;
    }
}


/* section_4 반응형 end----------------------------------- */
/* section_5 start */

.section_5{
    overflow: hidden;
    padding: 100px 14%;
    height: 60vh;

}

.title_wrap_5 h2{
    margin-bottom: 200px;
}

.img_wrap_5_1, .img_wrap_5_2{
    display: flex;
    justify-content: space-between;
    opacity: 0.5;
}

.img_wrap_5_1{
    animation: logo_ani 20s linear infinite;
    position: relative;
}

@keyframes logo_ani{
    0%{
        left: 0;
    }

    100%{
        left: -2000px;
    }
}

.img_wrap_5{
    width: 1200px;
}

.img_wrap_5 img{
    width: 300px;
    margin-right: 100px;
}

/* section_5 end */
/* section_5 반응형 start----------------------------------- */
@media screen and (max-width:450px) {

    .section_5{
        height: unset;
    }


    .img_wrap_5 img{
        width: 100px;
        margin-bottom: 20px;
        margin-right: 30px;
    } 

    .title_wrap_5 h2{
        margin-bottom: 50px;
    }

    
}
/* section_5 반응형 end----------------------------------- */

/* footer start */

footer{
    width: 100%;
    height: 700px;
    background-image: url(../img/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 160px 14%;
    font-size: 18px;
    background-position: center;
}

.footer_logo img{
    width: 115px;
    margin: 0 auto;
}


.footer_title_wrap, .footer_con_wrap, .sns_logo_wrap{
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-weight: 300;
}

.copyright{
    color: #fff;
    font-weight: 500;
    font-size: 20px;
}

.mail{
    text-align: right;
}
.mail a{
    color: #fff;
    
}

.sns_logo_wrap a{
    margin-left: 20px;
}

.sns_logo_wrap img{
    height: 26px;
}

.footer_title_wrap{
    margin-top: 200px;
}

.footer_con_wrap{
    margin-top: 75px;
}

.footer_title_wrap p{
    margin-bottom: 20px;
    /* display: inline; */
}

.footer_margin{
    margin-bottom: 70px!important;
}

/* footer end */
/* footer 반응형 start--------------------------------------- */
@media screen and (max-width:450px) {
    footer{
        padding: 87px 40px;
        font-size: 14px;
        /* height: 520px; */
        /* margin-top: 300px; */
    }

    .footer_logo img{
        width: 75px;
    }

    .footer_title_wrap, .footer_con_wrap{
        display: block;
    }

    .footer_title_wrap{
        margin-top: 100px;
    }

    .footer_con_wrap{
        position: relative;
    }

    .footer_margin{
        margin-bottom: 20px!important;
    }

    .mail{
        text-align: left;
    }

    .adress{
        margin-bottom: 40px;
    }

    .sns_logo_wrap{
        justify-content: unset;
        position: absolute;
        top: 20px;
        left: 0;
    }

    .sns_logo_wrap img{
        height: 20px;
    }

    .sns_logo_wrap a {
        margin-right: 10px;
        margin-left: 0;
    }

    .copyright{
        font-size: 14px;
        font-weight: 700;
        position: absolute;
        top: 110px;
        left: 0;
    }
    
}












